name: Automação GoFile

on:
  schedule:
    - cron: '0 0 * * *' 
  workflow_dispatch: 

jobs:
  run-automation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Instalar Dependências
        run: |
          # Instalamos apenas as bibliotecas Python necessárias
          pip install selenium undetected-chromedriver 
          
          # No Ubuntu 24.04, instalamos a biblioteca de som atualizada
          sudo apt-get update
          sudo apt-get install -y libasound2t64

      - name: Rodar Script
        run: python extrair_selenium.py

      - name: Salvar Log e Debug (Screenshot)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: log-e-debug
          path: |
            videos_processados.txt
            *.png
