name: Automação GoFile

on:
  schedule:
    - cron: '0 * * * *' # Roda a cada hora (ex: 13:00, 14:00...)
  workflow_dispatch: # Mantém o botão para rodar manual

jobs:
  run-automation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Instalar Dependências
        run: |
          pip install selenium webdriver-manager
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      - name: Rodar Script
        run: python extrair_selenium.py

      - name: Salvar Log de Resultados
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: log-execucao
          path: videos_processados.txt
