name: Automação GoFile

on:
  schedule:
    - cron: '0 0 */3 * *' # Roda a cada 3 dias
  workflow_dispatch: # Permite rodar manualmente no botão "Run workflow"

jobs:
  run-automation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Instalar Dependências
        run: |
          pip install selenium webdriver-manager

      - name: Rodar Script
        run: python extrair_selenium.py

      - name: Salvar Log de Resultados
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: log-execucao
          path: videos_processados.txt
