name: Gofile Automator

on:
  schedule:
    - cron: '0 0 */2 * *' # A cada 48 horas
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Instalar Dependências
        run: |
          pip install playwright playwright-stealth
          playwright install chromium --with-deps

      - name: Executar Automação
        run: python script.py

      - name: Upload Debug Screenshot
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: screenshots
          path: "*.png"
